# ─────────────────────────────────────────────
#  RENAME THIS FILE TO .env
#  Never commit .env to GitHub
# ─────────────────────────────────────────────

BINANCE_API_KEY="DAhBg6vkdzrFtmdGjFl2tNM5qOOGfKdepB9bWE8kMPhqMARSobvn0EZpWa7vMIck"
BINANCE_SECRET="ejPxyhaXbuerirXOqCSJnpL9e7CUjoBDtogryoUnhhlvP4gbwPDjQRYY1mwKBUaS"
